.features {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;
}

.features-list {
  display: flex;
}

.features-item::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-item:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}

.features-item:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}

.features-item:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}

.features-item:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item .features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.features-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--title-color);
  max-width: 270px;
}

.features-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.features-portfolio-item {
  width: 370px;
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: var(--link-color);
  border: 1px solid #eeeeee;
}

.features-portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.features-portfolio-item:hover .features-portfolio-img-text {
  transform: translateY(0);
}

.features-portfolio-img-text {
  font-size: 18px;
  line-height: 1.55;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.features-portfolio-item:hover,
.features-portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-post {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.features-portfolio-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.features-portfolio-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--title-color);
}
